{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>truYum</title>
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>

<body id="home-bg">
    <!-- Navbar -->
    <nav class="navbar">
        <!-- Navbar Brand -->
        <a href="/" class="navbar-brand">tru<b>Yum</b></a>
        <!-- Menu Items -->
        <ul class="navbar-menu">
            <li class="nav-item">
                <a href="/menu/admin"><i class="bi bi-person padding-right-1"></i>Admin</a>
            </li>
            <li class="nav-item">
                <a href="/customer/menu"><i class="bi bi-person-heart padding-right-1"></i>Customer</a>
            </li>
        </ul>
    </nav>
    <!-- Section Menu Items  Start-->
    <section class="menu-items-container">
        <h2 class="menu-items-header-1">Welcome To <b>truYum</b></h2>
        <h4 class="menu-items-paragraph">Your one stop solution of food ordering</h4>
        <br>
        <div class="flex-container-start">
            <a href="/menu/admin" class="btn-navigate"><i class="bi bi-person padding-right-1"></i>Admin</a>
            <a href="/customer/menu" class="btn-navigate"><i class="bi bi-person-heart padding-right-1"></i>Customer</a>
        </div>
    </section>
    <!-- Section Menu Items  End-->
    <!-- Footer -->
    <footer class="footer">
        <span>Copyright &copy; 2019</span>
    </footer>
</body>

</html>